src/main/resources/templates/index.html
<html xmlns:sec='http://www.thymeleaf.org/thymeleaf-extras-springsecurity4' xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <META CONTENT='INDEX, FOLLOW' NAME='ROBOTS'></META>
    <link href='/css/index.css' rel='stylesheet' type='text/css'>
    <title>Книжный магазин «BookStore»</title>
    <meta content=' нашем магазине — широкий выбор тематик: от узкоспециальной литературы до мировых бестселлеров. У нас Вы можете купить книгу с доставкой в течение 1-5 дней в любой регион РБ. Первым покупателям — скидка 10%.'
          name='description'>
    <meta content='Купить книги беларусь, купить книги со скидкой' name='keywords'>
    <meta content='Книжный магазин «BookStore»' property='og:title'>
    <meta content='http://localhost:8080/index.html' property='og:url'>
    <meta content='Здесь вы сможете найти книги для любых возрастов.  У нас разнообразные секции с жанрами где каждый найдет то, что ему по-душе.'
          property='og:description'>
    <meta content='http://localhost:8080/img/logo_red.gif' property='og:image'>
</head>
<body>
<div class='media-container'>
    <div class='header'>
        <meta name='currentLocalisation' th:content='${#locale}'>
        <div class='header__container'>
            <div class='header__emblem-container sm-4 md-2 lg-2 xl-2'>
                <a href='/index.html'>
                    <div class='header__emblem'></div>
                </a>
            </div>
            <div class='header__link-container sm-r-6 md-r-3 lg-r-6 xl-r-3' >
                <div class='user-control header__link-wrapper sm-12 md-12 lg-12 xl-12' sec:authorize='!isAuthenticated()'>
                    <div class='control__img conctroll__img_login-signup'></div>
                    <a class='header__link header__href-login' href='#0' th:text='#{header.login}'></a>
                    <a class='header__link header__href-signup' href='#0' sec:authorize='!isAuthenticated()'
                       th:text='#{header.registration}'></a>
                </div>
                <div class='user-account header__link-wrapper sm-12 md-12 lg-6 xl-6' sec:authorize='isAuthenticated()'>
                    <div class='control__img control__img_user-account'></div>
                    <a class='header__link' href='/account.html' th:text='#{header.profile}'></a>
                </div>
                <div class='user-control header__link-wrapper sm-12 md-12 lg-6 xl-6' sec:authorize='isAuthenticated()'>
                    <div class='control__img conctroll__img_logout'></div>
                    <a class='header__link header__href-logout' href='/logout' th:text='#{header.logout}'></a>
                </div>
                <div class='locale header__link-wrapper sm-12 md-12 lg-6 xl-6'>
                    <div class='control__img controll__img_locale'></div>
                    <a class='locale__item' id='locale_ru' onclick='changeLocale(&#39;ru&#39;)'
                       th:text='#{lang.ru}'></a>
                    <a class='locale__item' id='locale_en' onclick='changeLocale(&#39;en&#39;)'
                       th:text='#{lang.eng}'></a>
                </div>
                <div class='admin-panel header__link-wrapper sm-12 md-12 lg-6 xl-6'
                     sec:authorize='hasRole(&#39;ADMIN&#39;) || hasRole(&#39;MANAGER&#39;)'>
                    <div class='control__img control__img_admin-panel'></div>
                    <a class='header__link header__href-admin-panel' href='/admin-panel'
                       th:text='#{header.admin-panel}'></a>
                </div>
                <div class='user-account header__link-wrapper sm-12 md-12 lg-6 xl-6'>
                    <div class='control__img control__img_basket'></div>
                    <a class='header__link' href='/cart.html' th:text='#{header.basket}'></a>
                </div>
            </div>
            <div class='header__callback sm-12 md-6 lg-3 xl-r-3'>
                <div class='callback'>
                    <div class='callback__number'>+7(495) 134-23-20</div>
                    <div class='callback__container'>
                        <div class='callback__img'></div>
                        <a class='callback__href' href='#' th:text='#{header.callback}'></a>
                    </div>
                </div>
            </div>
            <div class='header__search sm-12 md-r-8 lg-4 xl-4'>
                <form action='/catalog.html' class='search-form' method='GET'>
                    <div class='search-form__content'>
                        <input class='search-form__input' name='text' th:placeholder='#{header.book-search}'>
                        <input class='search-form__button' src='/img/search/ico_find.gif'
                               th:placeholder='#{header.book-search}' type='image'>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='user-modal'>
        <div class='user-modal__container'>
            <ul class='user-modal__switcher'>
                <li class='user-modal__switcher-item'>
                    <a class='user-modal__switcher-login user-modal__switcher-login_selected'
                       th:text='#{form.title.enter}'>Вход</a>
                </li>
                <li class='user-modal__switcher-item'>
                    <a class='user-modal__switcher-signup' th:text='#{form.title.registration}'>Регистрация</a>
                </li>
            </ul>
            <div class='user-modal__login user-modal__login_is-selected'>
                <form class='form' method='post' th:action='@{/login}'>
                    <p class='form__fieldset'>
                        <label class='form__image form__image-email' th:text='#{form.field.email}'>E-mail</label>
                        <input class='form__input form__input_has-error' id='login-email' name='email'
                               th:if='${param.failed}' th:placeholder='#{form.placeholder.email}' type='text'>
                        <input class='form__input' id='login-email' name='email'
                               th:placeholder='#{form.placeholder.email}' th:unless='${param.failed}' type='text'>
                    </p>
                    <p class='form__fieldset form__fieldset-login-password'>
                        <label class='form__image form__image-password' th:text='#{form.field.password}'></label>
                        <input class='form__input form__input_has-error' id='login-password' name='password'
                               th:if='${param.failed}' th:placeholder='#{form.placeholder.password}' type='text'>
                        <input class='form__input' id='login-password' name='password'
                               th:placeholder='#{form.placeholder.password}' th:unless='${param.failed}' type='text'>
                        <a class='form__hide-password' th:text='#{form.field.hide}'></a>
                        <span class='form__error-message form__error-message_is-visible' th:if='${param.failed}'
                              th:text='#{authentication.error}'></span>
                    </p>
                    <p class='form__fieldset'>
                        <input class='form__submit' th:value='#{form.button.enter}' type='submit'>
                    </p>
                </form>
            </div>
            <div class='user-modal__signup'>
                <form class='form' method='post' th:action='@{/signup}'>
                    <p class='form__fieldset'>
                        <label class='form__image form__image-name' th:text='#{form.field.name}'></label>
                        <input class='form__input' id='signin-name' name='name'
                               th:placeholder='#{form.placeholder.name}' type='text'>
                    </p>
                    <p class='form__fieldset'>
                        <label class='form__image form__image-name' th:text='#{form.field.email}'>E-mail</label>
                        <input class='form__input' id='signin-email' name='email'
                               th:placeholder='#{form.placeholder.email}' type='email'>
                        <span class='form__error-message form__error-message_is-visible' th:if='${param.error!= null}'
                              th:text='#{${param.error}}'></span>
                    </p>
                    <p class='form__fieldset form__fieldset-signup-password'>
                        <label class='form__image form__image-password' th:text='#{form.field.password}'></label>
                        <input class='form__input' id='signin-password' name='password'
                               th:placeholder='#{form.placeholder.password}' type='text'>
                        <a class='form__hide-password' th:text='#{form.field.hide}'></a>
                    </p>
                    <p class='form__fieldset'>
                        <input class='form__submit' th:value='#{form.button.registration}' type='submit'>
                    </p>
                </form>
            </div>
            <a class='user-modal__close-form'>Закрыть</a>
        </div>
    </div>
    <script src='/js/adminpanel/requestSender.js'></script>
    <script src='/js/blocks/form/form.js'></script>
    <script>
        setPasswordSchowAction('.form__fieldset-login-password');
        setPasswordSchowAction('.form__fieldset-signup-password');
    </script>

    <script src='/js/blocks/login-signup.js'></script>
    <script src='/js/blocks/header.js'></script>
    <script>
        userModal(".user-modal", '.header__href-login', '.header__href-signup');
    </script>
    <span th:if='${param.login}'>
<script>
  openLogIn();
</script>
</span>
    <span th:if='${param.signup}'>
<script>
  openSignUp();
</script>
</span>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script>
        var currentHref = $(location).attr('href');
        currentHref = currentHref.replace("#0", "");
        var changeLocale = function (locale) {
            if (currentHref.indexOf('lang=') >= 0) {
                currentHref = currentHref.replace(/lang=[a-z]{0,5}/g, 'lang=' + locale)
            } else {
                if (currentHref.indexOf('?') >= 0) {
                    currentHref += "&";
                } else {
                    currentHref += "?";
                }
                currentHref += 'lang=' + locale
            }
            window.location.replace(currentHref);
        }

        var currentItem = 'en';
        if (document.getElementsByName('currentLocalisation')[0].getAttribute('content').indexOf('ru') >= 0) {
            currentItem = 'ru';
        }
        document.getElementById('locale_' + currentItem).classList.add('locale__item_current');
    </script>

</div>
<div class='menu' id='menu'>
    <a class='menu__schow-btn menu__link' href='#' th:text='#{menu.title}'></a>
    <ul class='menu__container'>
        <li class='menu__item'>
            <a class='menu__link' href='/catalog.html' th:text='#{menu.catalog}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/delivery.html' th:text='#{menu.delivery}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/gallery.html' th:text='#{menu.gallery}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/news.html' th:text='#{menu.news}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/contacts.html' th:text='#{menu.contacts}'></a>
        </li>
    </ul>
</div>
<script src='js/blocks/menu.js'></script>

<div class='media-container'>
    <div class='slider slider-main'>
        <div class='slider__wrapper grid-area'>
            <div class='slider__item sm-flex-12 md-flex-12 lg-flex-12 xl-flex-12' th:each='image:${mainslider}'>
                <a th:href='${image.href}'>
                    <img class='slider__img' th:alt='#{img.main-slider.alt}' th:src='${image.image}'>
                </a>
            </div>
        </div>
        <a class='slider__control slider__control_left' href='#' role='button'></a>
        <a class='slider__control slider__control_right slider__control_show' href='#' role='button'></a>
        <script src='js/blocks/slider.js'></script>
        <script>
            multiItemSlider(".slider-main")
        </script>
    </div>

</div>
<div class='media-container'>
    <h1 class='title__text_center'>
        Книжный магазин «BookStore»
    </h1>
    <div class='title__sub-text_center'>
        Мы рады видеть вас на сайте нашего интернет-магазина. 
        Здесь вы сможете найти книги для любых возрастов. 
        У нас разнообразные секции с жанрами где каждый найдет то, что ему по-душе.
    </div>
</div>
<div class='media-container'>
    <div class='title'>
        <div class='title__text' th:text='#{page.title.novelties}'></div>
    </div>
    <div class='slider slider_books'>
        <div class='slider__wrapper grid-area'>
            <div class='slider__item_center sm-flex-12 md-flex-6 lg-flex-4 xl-flex-3' th:each='book:${books}'>
                <div class='book'>
                    <a class='book__link' th:href='${&quot;/book/card.html?id=&quot; + book.id}'>
                        <div class='book__icon-container'>
                            <img class='book__icon' th:alt='${book.name}' th:src='${book.images[0].path}'>
                        </div>
                        <div class='book__text-container'>
                            <div class='book__name' th:text='${book.name}'></div>
                            <div class='book_author' th:text='${book.author.name}'></div>
                        </div>
                        <div class='book__price' th:text='${&quot;$&quot; + book.price}'></div>
                    </a>
                </div>
            </div>
        </div>
        <a class='slider__control slider__control_left' href='#' role='button'></a>
        <a class='slider__control slider__control_right slider__control_show' href='#' role='button'></a>
    </div>
    <script>
        multiItemSlider('.slider_books', '.slider__wrapper', '.slider__item_center');
        window.onresize = function (event) {
            multiItemSlider('.slider_books', '.slider__wrapper', '.slider__item_center');
        };
    </script>

    <div class='title'>
        <div class='title__text' th:text='#{page.title.comments}'></div>
    </div>
    <div class='comments'>
        <div class='comments__item' th:each='comment:${comments}'>
            <img class='comments__image' th:alt='${comment.user.name}' th:src='${comment.user.image}'>
            <div class='comments__commentator-name' th:text='${comment.user.name}'></div>
            <div class='comments__content' th:text='${comment.content}'></div>
        </div>
    </div>

</div>
<div class='media-container'>
    <form class='feedback'>
        <div class='title_red'>
            <div class='title__text' th:text='#{callback-form.title}'></div>
        </div>
        <div class='feedback__container'>
            <div class='grid-area'>
                <div class='sm-12 md-10 lg-10 xl-10'>
                    <div class='sm-12 md-6 lg-6 xl-6'>
                        <div class='feedback__item'>
                            <div class='feedback__item-title' th:text='#{callback-form.name}'></div>
                            <input class='feedback__item__field'>
                        </div>
                    </div>
                    <div class='sm-12 md-6 lg-6 xl-6'>
                        <div class='feedback__item'>
                            <div class='feedback__item-title' th:text='#{callback-form.phone}'></div>
                            <input class='feedback__item__field'>
                        </div>
                    </div>
                    <div class='sm-12 md-12 lg-12 xl-12'>
                        <div class='feedback__item'>
                            <input class='feedback__check-box' type='checkbox'>
                            <div class='feedback__check-box-text' th:text='#{callback-form.rules}'></div>
                        </div>
                    </div>
                </div>
                <div class='sm-12 md-2 lg-2 xl-2'>
                    <div class='feedback__item-title'>&nbsp;</div>
                    <input class='feedback__send-btn' th:value='#{form.button.submit}' type='submit'>
                </div>
            </div>
        </div>
    </form>

</div>
<div class='horosontal-line'></div>
<div class='media-container'>
    <footer class='footer'>
        <div class='grid-area'>
            <div class='sm-12 md-4 lg-4 xl-4'>
                <div class='footer__colon'>
                    <div class='footer__row'>
                        <div class='footer__store-name'>
                            <span class='footer__book'>BOOK</span>
                            <span class='footer__book'>STORE</span>
                        </div>
                        <div class='footer__callback'>
                            <div class='callback'>
                                <div class='callback__number'>+7(495) 134-23-20</div>
                                <div class='callback__container'>
                                    <div class='callback__img'></div>
                                    <a class='callback__href' href='#' th:text='#{header.callback}'></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='sm-12 md-4 lg-4 xl-4'>
                <div class='footer__colon'>
                    <div class='footer__row'>
                        <div class='footer__block'>
                            <div class='footer__title' th:text='#{footer.main-menu-title}'></div>
                            <a class='footer__link-menu' href='/catalog.html' th:text='#{menu.catalog}'></a>
                            <a class='footer__link-menu' href='/delivery.html' th:text='#{menu.delivery}'></a>
                            <a class='footer__link-menu' href='/gallery.html' th:text='#{menu.gallery}'></a>
                            <a class='footer__link-menu' href='/news.html' th:text='#{menu.news}'></a>
                            <a class='footer__link-menu' href='/contacts.html' th:text='#{menu.contacts}'></a>
                            <hr>
                            <a class='footer__link-menu' href='/sitemap.html' th:text='#{page.title.site-map}'></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='sm-12 md-4 lg-4 xl-4'>
                <div class='footer__colon'>
                    <div class='footer__row'>
                        <div class='footer__block'>
                            <div class='footer__title' th:text='#{footer.we-accept-payment}'></div>
                            <img class='footer__link-img' src='/img/paiment/ico_MasterCard.gif'>
                            <img class='footer__link-img' src='/img/paiment/ico_payPal.gif'>
                            <img class='footer__link-img' src='/img/paiment/ico_visa.gif'>
                            <img class='footer__link-img' src='/img/paiment/qiwi.gif'>
                        </div>
                        <div class='footer__block'>
                            <div class='footer__title' th:text='#{footer.to-keep-abreast}'></div>
                            <img class='footer__link-img' src='/img/soc-media/ico_f.gif'>
                            <img class='footer__link-img' src='/img/soc-media/ico_google.gif'>
                            <img class='footer__link-img' src='/img/soc-media/ico_inst.gif'>
                            <img class='footer__link-img' src='/img/soc-media/ico_vk.gif'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
</body>
</html>

out/production/resources/viewsource/pages/index.haml
-# haml index.haml index.html
-# sass --watch blocks/index.scss:index.css
-#
-# haml pages/index.haml index.html 
-# haml pages/news.haml news.html 
-# haml pages/gallery.haml gallery.html 
-# haml pages/catalog.haml catalog.html 
-# haml pages/book-item.haml book-item.html 
-# haml pages/account.haml account.html 
-# haml pages/contacts.haml contacts.html 
-# haml pages/delivery.haml delivery.html 
%html(xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4")
    %head
        %meta{charset:"utf-8"}
        %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
        %link{rel:"stylesheet", type:"text/css", href:"/css/index.css"}
        %title Книжный магазин «BookStore»
        %meta(name="description" content=" нашем магазине — широкий выбор тематик: от узкоспециальной литературы до мировых бестселлеров. У нас Вы можете купить книгу с доставкой в течение 1-5 дней в любой регион РБ. Первым покупателям — скидка 10%.")
        %meta(name="keywords" content="Купить книги беларусь, купить книги со скидкой")

                
        %meta(property="og:title" content="Книжный магазин «BookStore»")
        %meta(property="og:url" content="http://localhost:8080/index.html")
        %meta(property="og:description" content="Здесь вы сможете найти книги для любых возрастов.  У нас разнообразные секции с жанрами где каждый найдет то, что ему по-душе.")
        %meta(property="og:image" content="http://localhost:8080/img/logo_red.gif")
    %body
        .media-container
            = Haml::Engine.new(File.read("blocks/header/header.haml")).render

        = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
        
        .media-container
            = Haml::Engine.new(File.read("blocks/slider/slider_main.haml")).render
        .media-container
            %h1.title__text_center
                Книжный магазин «BookStore»
            .title__sub-text_center    
                Мы рады видеть вас на сайте нашего интернет-магазина. 
                Здесь вы сможете найти книги для любых возрастов. 
                У нас разнообразные секции с жанрами где каждый найдет то, что ему по-душе.
        
        .media-container
            .title
                .title__text(th:text="\#{page.title.novelties}")
            = Haml::Engine.new(File.read("blocks/slider/slider-multy-items.haml")).render

            .title
                .title__text(th:text="\#{page.title.comments}")
            = Haml::Engine.new(File.read("blocks/comments/comments.haml")).render
        .media-container               
            = Haml::Engine.new(File.read("blocks/feedback/feedback.haml")).render
        
        .horosontal-line
        .media-container
            = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render
        
              
            
