src/main/resources/templates/site_map.html
<html>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
<META CONTENT='INDEX, FOLLOW' NAME='ROBOTS'></META>
<link href='css/index.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='media-container'>
<div class='header'>
<meta name='currentLocalisation' th:content='${#locale}'>
<div class='header__container'>
    <div class='header__emblem-container sm-4 md-2 lg-2 xl-2'>
<a href='/index.html'>
<div class='header__emblem'></div>
</a>
</div>
<div class='header__link-container sm-r-6 md-r-3 lg-r-6 xl-r-3' sec:authorize='isAuthenticated()'>
<div class='user-account header__link-wrapper sm-12 md-12 lg-6 xl-6'>
<div class='control__img control__img_user-account'></div>
<a class='header__link' href='/account.html' th:text='#{header.profile}'></a>
</div>
<div class='user-control header__link-wrapper sm-12 md-12 lg-6 xl-6'>
<div class='control__img conctroll__img_logout'></div>
<a class='header__link header__href-logout' href='/logout' th:text='#{header.logout}'></a>
</div>
<div class='locale header__link-wrapper sm-12 md-12 lg-6 xl-6'>
<div class='control__img controll__img_locale'></div>
<a class='locale__item' id='locale_ru' onclick='changeLocale(&#39;ru&#39;)' th:text='#{lang.ru}'></a>
<a class='locale__item' id='locale_en' onclick='changeLocale(&#39;en&#39;)' th:text='#{lang.eng}'></a>
</div>
<div class='admin-panel header__link-wrapper sm-12 md-12 lg-6 xl-6' sec:authorize='hasRole(&#39;ADMIN&#39;) || hasRole(&#39;MANAGER&#39;)'>
<div class='control__img control__img_admin-panel'></div>
<a class='header__link header__href-admin-panel' href='/admin-panel' th:text='#{header.admin-panel}'></a>
</div>
</div>
<div class='header__link-container sm-r-6 md-r-4 lg-r-3 xl-r-3' sec:authorize='!isAuthenticated()'>
<div class='user-control header__link-wrapper sm-12 md-12 lg-12 xl-12'>
<div class='control__img conctroll__img_login-signup'></div>
<a class='header__link header__href-login' href='#0' th:text='#{header.login}'></a>
<a class='header__link header__href-signup' href='#0' sec:authorize='!isAuthenticated()' th:text='#{header.registration}'></a>
</div>
<div class='locale header__link-wrapper sm-12 md-12 lg-12 xl-12'>
<div class='control__img controll__img_locale'></div>
<a class='locale__item' id='locale_ru' onclick='changeLocale(&#39;ru&#39;)' th:text='#{lang.ru}'></a>
<a class='locale__item' id='locale_en' onclick='changeLocale(&#39;en&#39;)' th:text='#{lang.eng}'></a>
</div>
</div>
    <div class='header__callback sm-12 md-6 lg-3 xl-r-3'>
<div class='callback'>
<div class='callback__number'>+7(495) 134-23-20</div>
<div class='callback__container'>
<div class='callback__img'></div>
<a class='callback__href' href='#' th:text='#{header.callback}'></a>
</div>
</div>
</div>
<div class='header__search sm-12 md-r-8 lg-4 xl-4'>
<form action='/catalog.html' class='search-form' method='GET'>
<div class='search-form__content'>
<input class='search-form__input' name='text' th:placeholder='#{header.book-search}'>
<input class='search-form__button' src='/img/search/ico_find.gif' th:placeholder='#{header.book-search}' type='image'>
</div>
</form>
</div>
</div>
</div>
<div class='user-modal'>
<div class='user-modal__container'>
<ul class='user-modal__switcher'>
<li class='user-modal__switcher-item'>
<a class='user-modal__switcher-login user-modal__switcher-login_selected' th:text='#{form.title.enter}'>Вход</a>
</li>
<li class='user-modal__switcher-item'>
<a class='user-modal__switcher-signup' th:text='#{form.title.registration}'>Регистрация</a>
</li>
</ul>
<div class='user-modal__login user-modal__login_is-selected'>
<form class='form' method='post' th:action='@{/login}'>
<p class='form__fieldset'>
<label class='form__image form__image-email' th:text='#{form.field.email}'>E-mail</label>
<input class='form__input form__input_has-error' id='login-email' name='email' th:if='${param.failed}' th:placeholder='#{form.placeholder.email}' type='text'>
<input class='form__input' id='login-email' name='email' th:placeholder='#{form.placeholder.email}' th:unless='${param.failed}' type='text'>
</p>
<p class='form__fieldset form__fieldset-login-password'>
<label class='form__image form__image-password' th:text='#{form.field.password}'></label>
<input class='form__input form__input_has-error' id='login-password' name='password' th:if='${param.failed}' th:placeholder='#{form.placeholder.password}' type='text'>
<input class='form__input' id='login-password' name='password' th:placeholder='#{form.placeholder.password}' th:unless='${param.failed}' type='text'>
<a class='form__hide-password' th:text='#{form.field.hide}'></a>
<span class='form__error-message form__error-message_is-visible' th:if='${param.failed}' th:text='#{authentication.error}'></span>
</p>
<p class='form__fieldset'>
<input class='form__submit' th:value='#{form.button.enter}' type='submit'>
</p>
</form>
</div>
<div class='user-modal__signup'>
<form class='form' method='post' th:action='@{/signup}'>
<p class='form__fieldset'>
<label class='form__image form__image-name' th:text='#{form.field.name}'></label>
<input class='form__input' id='signin-name' name='name' th:placeholder='#{form.placeholder.name}' type='text'>
</p>
<p class='form__fieldset'>
<label class='form__image form__image-name' th:text='#{form.field.email}'>E-mail</label>
<input class='form__input' id='signin-email' name='email' th:placeholder='#{form.placeholder.email}' type='email'>
<span class='form__error-message form__error-message_is-visible' th:if='${param.error!= null}' th:text='#{${param.error}}'></span>
</p>
<p class='form__fieldset form__fieldset-signup-password'>
<label class='form__image form__image-password' th:text='#{form.field.password}'></label>
<input class='form__input' id='signin-password' name='password' th:placeholder='#{form.placeholder.password}' type='text'>
<a class='form__hide-password' th:text='#{form.field.hide}'></a>
</p>
<p class='form__fieldset'>
<input class='form__submit' th:value='#{form.button.registration}' type='submit'>
</p>
</form>
</div>
<a class='user-modal__close-form'>Закрыть</a>
</div>
</div>
<script src='/js/adminpanel/requestSender.js'></script>
<script src='/js/blocks/form/form.js'></script>
<script>
  setPasswordSchowAction('.form__fieldset-login-password');
  setPasswordSchowAction('.form__fieldset-signup-password');
</script>

<script src='/js/blocks/login-signup.js'></script>
<script src='/js/blocks/header.js'></script>
<script>
  userModal(".user-modal", '.header__href-login','.header__href-signup');
</script>
<span th:if='${param.login}'>
<script>
  openLogIn();
</script>
</span>
<span th:if='${param.signup}'>
<script>
  openSignUp();
</script>
</span>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script>
  var currentHref = $(location).attr('href');
  currentHref = currentHref.replace("#0", "");
  var changeLocale = function(locale){
      if(currentHref.indexOf('lang=')>=0){
          currentHref = currentHref.replace(/lang=[a-z]{0,5}/g, 'lang=' + locale)
      } else {
          if(currentHref.indexOf('?')>=0){
              currentHref += "&";
          } else {
              currentHref += "?";
          }
          currentHref += 'lang=' + locale
      }
      window.location.replace(currentHref);
  }
  
  var currentItem = 'en';
  if(document.getElementsByName('currentLocalisation')[0].getAttribute('content').indexOf('ru')>=0){
      currentItem='ru';
  }
  document.getElementById('locale_' + currentItem).classList.add('locale__item_current');
</script>

</div>
<div class='menu' id='menu'>
<a class='menu__schow-btn menu__link' href='#' th:text='#{menu.title}'></a>
<ul class='menu__container'>
<li class='menu__item'>
<a class='menu__link' href='/catalog.html' th:text='#{menu.catalog}'></a>
</li>
<li class='menu__item'>
<a class='menu__link' href='/delivery.html' th:text='#{menu.delivery}'></a>
</li>
<li class='menu__item'>
<a class='menu__link' href='/gallery.html' th:text='#{menu.gallery}'></a>
</li>
<li class='menu__item'>
<a class='menu__link' href='/news.html' th:text='#{menu.news}'></a>
</li>
<li class='menu__item'>
<a class='menu__link' href='/contacts.html' th:text='#{menu.contacts}'></a>
</li>
</ul>
</div>
<script src='js/blocks/menu.js'></script>

<div class='media-container'>
<div class='title'>
<div class='title__text' th:text='#{page.title.site-map}'></div>
</div>
</div>
<div class='media-container'>
<div class='map-site__item'>
<a href='/index.html' th:text='#{map-site.main}'></a>
</div>
<div class='map-site__item'>
<a href='/catalog.html' th:text='#{map-site.catalog}'></a>
</div>
<div class='map-site__item'>
<a href='/delivery.html' th:text='#{map-site.delivery}'></a>
</div>
<div class='map-site__item'>
<a href='/gallery.html' th:text='#{map-site.gallery}'></a>
</div>
<div class='map-site__item'>
<a href='/news.html' th:text='#{map-site.news}'></a>
</div>
<div class='map-site__item'>
<a href='/contacts.html' th:text='#{map-site.contacts}'></a>
</div>
</div>
<div class='horosontal-line'></div>
<div class='media-container'>
<footer class='footer'>
<div class='grid-area'>
<div class='sm-12 md-4 lg-4 xl-4'>
<div class='footer__colon'>
<div class='footer__row'>
<div class='footer__store-name'>
<span class='footer__book'>BOOK</span>
<span class='footer__book'>STORE</span>
</div>
<div class='footer__callback'>
<div class='callback'>
<div class='callback__number'>+7(495) 134-23-20</div>
<div class='callback__container'>
<div class='callback__img'></div>
<a class='callback__href' href='#' th:text='#{header.callback}'></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='sm-12 md-4 lg-4 xl-4'>
<div class='footer__colon'>
<div class='footer__row'>
<div class='footer__block'>
<div class='footer__title' th:text='#{footer.main-menu-title}'></div>
<a class='footer__link-menu' href='/catalog.html' th:text='#{menu.catalog}'></a>
<a class='footer__link-menu' href='/delivery.html' th:text='#{menu.delivery}'></a>
<a class='footer__link-menu' href='/gallery.html' th:text='#{menu.gallery}'></a>
<a class='footer__link-menu' href='/news.html' th:text='#{menu.news}'></a>
<a class='footer__link-menu' href='/contacts.html' th:text='#{menu.contacts}'></a>
<hr>
<a class='footer__link-menu' href='/sitemap.html' th:text='#{page.title.site-map}'></a>
</div>
</div>
</div>
</div>
<div class='sm-12 md-4 lg-4 xl-4'>
<div class='footer__colon'>
<div class='footer__row'>
<div class='footer__block'>
<div class='footer__title' th:text='#{footer.we-accept-payment}'></div>
<img class='footer__link-img' src='/img/paiment/ico_MasterCard.gif'>
<img class='footer__link-img' src='/img/paiment/ico_payPal.gif'>
<img class='footer__link-img' src='/img/paiment/ico_visa.gif'>
<img class='footer__link-img' src='/img/paiment/qiwi.gif'>
</div>
<div class='footer__block'>
<div class='footer__title' th:text='#{footer.to-keep-abreast}'></div>
<img class='footer__link-img' src='/img/soc-media/ico_f.gif'>
<img class='footer__link-img' src='/img/soc-media/ico_google.gif'>
<img class='footer__link-img' src='/img/soc-media/ico_inst.gif'>
<img class='footer__link-img' src='/img/soc-media/ico_vk.gif'>
</div>
</div>
</div>
</div>
</div>
</footer>

</div>
</body>
</html>

out/production/resources/viewsource/pages/site_map.haml
%html
  %head
    %meta{charset:"utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
    %link{rel:"stylesheet", type:"text/css", href:"css/index.css"}
      
  %body
    .media-container
      = Haml::Engine.new(File.read("blocks/header/header.haml")).render

    = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
    
    .media-container
      .title
        .title__text(th:text="\#{page.title.site-map}")

    .media-container
      .map-site__item
        %a(href="/index.html" th:text="\#{map-site.main}")
      .map-site__item
        %a(href="/catalog.html" th:text="\#{map-site.catalog}")
      .map-site__item
        %a(href="/delivery.html" th:text="\#{map-site.delivery}")
      .map-site__item
        %a(href="/gallery.html" th:text="\#{map-site.gallery}")
      .map-site__item
        %a(href="/news.html" th:text="\#{map-site.news}")
      .map-site__item
        %a(href="/contacts.html" th:text="\#{map-site.contacts}")

     
    .horosontal-line
    .media-container
      = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render
