src/main/resources/templates/modalwindow/user/user.html
<div class='card'>
    <div class='card-header'>Редактирование пользователя</div>
    <div class='card-body card-block'>
        <form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post'
              onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
            <input name='id' th:value='${user.id}' type='hidden'>
            <div class='row form-group'>
                <div class='form__image-content-container'>
                    <image class='form__image-content-item' th:src='${user.image}'></image>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Name</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_name' name='name' placeholder='Имя'
                           th:value='${user.name}' type='text'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Role</div>
                </div>
                <div class='col-12 col-md-9'>
                    <select class='form-control' id='login-role_role' name='role' placeholder='role'>
                        <option placeholder='Роль' th:each='role : ${roles}' th:selected='${role.id==user.role.id}'
                                th:text='${role.label}' th:value='${role.id}'></option>
                    </select>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>E-mail</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_email' name='email' placeholder='E-mail'
                           th:value='${user.email}' type='email'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Password</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_password' name='password' placeholder='Password'
                           type='password'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Comfirm password</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_password' name='password_confirm' placeholder='confirm'
                           type='password'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Image</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input accept='image/png, image/jpeg' class='form-control' id='user-image_image' name='image'
                           placeholder='image' th:value='${user.image}' type='file'>
                    <span class='form__error-message'></span>
                </div>
            </div>
        </form>
    </div>
    <div class='card-footer'>
        <button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
            <i class='fa fa-dot-circle-o'>Сохранить</i>
        </button>
    </div>
</div>

src/main/resources/viewsource/modalwindow/user/user.haml
.card
  .card-header Редактирование пользователя
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${user.id}")

      .row.form-group
        .form__image-content-container
          %image.form__image-content-item(th:src="${user.image}")

      .row.form-group
        .col.col-md-3
          .form-control-label Name
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${user.name}" id='name' name="name" type="text" placeholder="Имя" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label Role
        .col-12.col-md-9
          %select#login-role.form-control(id='role' name="role" placeholder="role" )
            %option(th:each="role : ${roles}" th:value="${role.id}" th:text="${role.label}" th:selected="${role.id==user.role.id}" placeholder="Роль" ) 
      .row.form-group
        .col.col-md-3 
          .form-control-label  E-mail
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${user.email}" id='email' type="email" name="email" placeholder="E-mail" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label  Password
        .col-12.col-md-9
          %input#login-email.form-control(id='password' type="password" name="password" placeholder="Password" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label  Comfirm password
        .col-12.col-md-9
          %input#login-email.form-control(id='password' type="password" name="password_confirm" placeholder="confirm" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label  Image
        .col-12.col-md-9
          %input#user-image.form-control(th:value="${user.image}" id='image' name="image" type="file" placeholder="image" accept="image/png, image/jpeg")
          %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить
      -# formDateSnder.js
